---
layout: default
title: "Bilder"
---

{% assign banner = site.data.homepage_1.hero_area %}
<section class="banner-2 position-relative bg-blue">
	<img src="{{ banner.background_image | relative_url }}" alt="" class="overlay-shape">

	<!-- POrtfolio  Start -->
	<section class="section portfolio-5" style="padding-top:10vh; padding-bottom: 2vh">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10 text-center">
					<span class="h5 text-color text-uppercase">
						Auftritte und Chorwochenenden
					</span>
					<h3 class="mb-5 mt-2">Alle Bilder</h3>
				</div>
			</div>
		</div>
	</section>
</section>

<div class="row align-items-center mb-5">
	<div class="col-12 text-center">
		<div class="btn-group btn-group-toggle " data-toggle="buttons">
			{% assign categories = site.portfolios| map: 'categories' | join: ',' | split: ',' | uniq %}
			{% for category in categories %}
			<label class="btn border-0">
				<input type="radio" name="shuffle-filter" value="{{ category | downcase | slugify }}" />{{ category }}
			</label>
			{% endfor %}
		</div>
	</div>
</div>
</div>


<div class="container-fluid">
	<div class="row shuffle-wrapper portfolio-gallery">
		{% include portfolio_loop.html %}
	</div>
</div>
<!-- Portfolio  End -->