{% for portfolio in site.data.homepage_1.portfolio %}
<div class="col-lg-4 col-6 mb-4 shuffle-item" >
  <div class="position-relative inner-box">
    <div class="image position-relative ">
      <img src="{{portfolio.thumbnail | relative_url }}" alt="portfolio-image" class="img-fluid w-100 d-block" />
      <div class="overlay-box">
        <div class="overlay-inner">
          <a class="overlay-content text-center" >
            <h5 class="mb-0 text-white">{{portfolio.title}}</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}